.input-group.input-group-sm
  input#g-script-id.form-control.g-script.input-sm(
    type="text",
    placeholder="Existing item ID to use as the script source")
  .input-group-btn
    button.g-open-script-browser.btn.btn-default(type="button")
      i.icon-folder-open

button.btn.btn-sm.btn-danger.g-script-delete-button(title="Delete")
  i.icon-trash
