.g-run-notebook-page-wrapper
  .g-upload-wrapper
    p.
      You are being redirected to a Jupyter Notebook containing the selected data. If you are already
      logged in to RSL compute resources, please wait until Notebook is ready. Otherwise, login page should 
      pop up shortly.
    p.
      If your Notebook doesn't appear after a while, please contact RSL admin.
