.btn-group
  > .btn:first-child
    margin-left 10px

button.g-raft-frontend-select
  padding 2px 3px
  min-width 150px
  margin-bottom 2px
  

button.g-script-add-button
  padding 2px 3px
  margin-bottom 3px
