@import '~nib/index.styl'

.g-frontends-list-table
  width 100%

  th
    border-bottom 1px solid #d7d7d7
    padding 3px 0

  tbody>tr
    transition background 0.4s linear

    td
      padding 3px 0

    &:hover
      background-color #f6f6f6

    &.g-highlight
      background-color #f1db74

.selected {
       background-color: #eaebea;
}
