.g-raft-list-header
  margin-bottom 10px

  .g-raft-pagination
    display inline-block
    >ul
      margin 0 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

