.g-header-wrapper
  img.g-app-title(src=`${staticRoot}/built/plugins/wholetale/extra/img/whole_tale_logo_text_long_light.png`, width="300")

  form.g-quick-search-form(role="form")
    .form-group.g-quick-search-container

  .g-current-user-wrapper
  .g-clear-both
