button.g-gonb-button.btn.btn-sm.btn-info(title="Visit instance")
   i.icon-play-circled
button.g-stopnb-button.btn.btn-sm.btn-info(title="Stop instance")
   i.icon-stop
button.g-runnb-button.btn.btn-sm.btn-info(title="Start instance")
   i.icon-play
