li(role="presentation", id="start_nb")
  a.g-start-instance(role="menuitem")
    i.icon-chart-bar
    | Start Instance
li(role="presentation", id="go_nb")
  a.g-visit-instance(role="menuitem", instance-id=goUrl)
    i.icon-chart-bar
    | Visit Instance
li(role="presentation", id="stop_nb")
  a.g-stop-instance(role="menuitem", instance-id=delUrl)
    i.icon-chart-bar
    | Stop Instance
