li(role="presentation")
  a.g-visit-notebook(role="menuitem", notebook-id=goUrl)
    i.icon-chart-bar
    | Visit Notebook
li(role="presentation")
  a.g-stop-notebook(role="menuitem", notebook-id=delUrl)
    i.icon-chart-bar
    | Stop Notebook
