.g-config-breadcrumb-container
form#g-ythub-config-form(role="form")
  .form-group
    label.control-label(for="ythub_tmpnb") tmpnb URL
    input.input-sm.form-control#ythub_tmpnb(
      type="text", placeholder="Temporary notebook server's URL")

  p#g-ythub-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
