button.g-gonb-button.btn.btn-sm.btn-info(title="Visit notebook")
   i.icon-play-circled
button.g-stopnb-button.btn.btn-sm.btn-info(title="Stop notebook")
   i.icon-stop
button.g-runnb-button.btn.btn-sm.btn-info(title="Start notebook")
   i.icon-play
